
@{
    ViewBag.Title = "Vista";
}
<script src="~/Scripts/TestScript.js" type="text/javascript">
    
</script>


<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="jumbotron">
            <div>
                <div id="form1">
                    <h1>Prueba 1</h1>
                    <button id="btn1" class="btn btn-success">Siguiente</button>
                </div>
                <div id="form2">
                    <h1>Prueba 2</h1>
                    <button id="btn2" class="btn btn-success">Siguiente</button>
                </div>
                <div id="form3">
                    <h1>Prueba 3</h1>
                    <button id="btn3" class="btn btn-success">Siguiente</button>
                </div>
                <div id="form4">
                    <h1>Prueba 4</h1>
                    <button id="btn4" class="btn btn-success"></button>
                </div>

            </div>
            

            

            

            
        </div>
    </div>
    <div class="col-1"></div>
</div>
