
@{
    ViewBag.Title = "Biologicos";
}
<link href="~/Content/Categoria1.css" rel="stylesheet" />
<div class="CatTitle ">
    <h1>Desastres biológicos</h1><hr />
</div>
<ul class="cbp-ig-grid">
    <li>
        <a href="#">
            <span class="cbp-ig-icon cbp-ig-icon-doumbek"></span>
            <h3 class="cbp-ig-title">Pestes</h3>
            <span class="cbp-ig-category"></span>
        </a>
    </li>
    <li>
        <a href="#">
            <span class="cbp-ig-icon cbp-ig-icon-doumbek"></span>
            <h3 class="cbp-ig-title">Epidemias</h3>
            <span class="cbp-ig-category"></span>
        </a>
    </li>
    <li>
        <a href="#">
            <span class="cbp-ig-icon cbp-ig-icon-doumbek"></span>
            <h3 class="cbp-ig-title">Pandemias</h3>
            <span class="cbp-ig-category"></span>
        </a>
    </li>

</ul>
