
@{
    ViewBag.Title = "Geologicos";
}
<link href="~/Content/Categoria1.css" rel="stylesheet" />
<div class="CatTitle ">
    <h1>Desastres geológicos</h1><hr />
</div>
<ul class="cbp-ig-grid">
    <li>
        <a href="#">
            <span class="cbp-ig-icon cbp-ig-icon-ribbon"></span>
            <h3 class="cbp-ig-title">Derrumbes</h3>
            <span class="cbp-ig-category"></span>
        </a>
    </li>
    <li>
        <a href="#">
            <span class="cbp-ig-icon cbp-ig-icon-ribbon"></span>
            <h3 class="cbp-ig-title">Tormentas solares</h3>
            <span class="cbp-ig-category"></span>
        </a>
    </li>
    <li>
        <a href="#">
            <span class="cbp-ig-icon cbp-ig-icon-ribbon"></span>
            <h3 class="cbp-ig-title">Terremotos</h3>
            <span class="cbp-ig-category"></span>
        </a>
    </li>
    <li>
        <a href="#">
            <span class="cbp-ig-icon cbp-ig-icon-ribbon"></span>
            <h3 class="cbp-ig-title">Erupciones</h3>
            <span class="cbp-ig-category"></span>
        </a>
    </li>
    <li>
        <a href="#">
            <span class="cbp-ig-icon cbp-ig-icon-ribbon"></span>
            <h3 class="cbp-ig-title">Incendios</h3>
            <span class="cbp-ig-category"></span>
        </a>
    </li>
    <li>
        <a href="#">
            <span class="cbp-ig-icon cbp-ig-icon-ribbon"></span>
            <h3 class="cbp-ig-title">Hundimientos</h3>
            <span class="cbp-ig-category">Cárcavas</span>
        </a>
    </li>
</ul>
