
@{
    ViewBag.Title = "Hidrológicos";
}
<link href="~/Content/Categoria1.css" rel="stylesheet" />
<div class="CatTitle ">
    <h1>Desastres Hidrológicos</h1><hr />
</div>
<ul class="cbp-ig-grid">
    <li>
        <a href="#">
            <span class="cbp-ig-icon cbp-ig-icon-milk"></span>
            <h3 class="cbp-ig-title">Inundaciones</h3>
            <span class="cbp-ig-category"></span>
        </a>
    </li>
    <li>
        <a href="#">
            <span class="cbp-ig-icon cbp-ig-icon-milk"></span>
            <h3 class="cbp-ig-title">Tsunamis</h3>
            <span class="cbp-ig-category"></span>
        </a>
    </li>
    <li>
        <a href="#">
            <span class="cbp-ig-icon cbp-ig-icon-milk"></span>
            <h3 class="cbp-ig-title">Fuerte oleaje</h3>
            <span class="cbp-ig-category"></span>
        </a>
    </li>
</ul>
