
@{
    ViewBag.Title = "Metereológicos";
}
<link href="~/Content/Categoria1.css" rel="stylesheet" />
<div class="CatTitle ">
    <h1>Desastres Metereológicos</h1><hr />
</div>
<ul class="cbp-ig-grid">
    <li>
        <a href="#">
            <span class="cbp-ig-icon cbp-ig-icon-ribbon"></span>
            <h3 class="cbp-ig-title">Tifones</h3>
            <span class="cbp-ig-category"></span>
        </a>
    </li>
    <li>
        <a href="#">
            <span class="cbp-ig-icon cbp-ig-icon-ribbon"></span>
            <h3 class="cbp-ig-title">Sequías</h3>
            <span class="cbp-ig-category">Fenómeno de la niña</span>
        </a>
    </li>
    <li>
        <a href="#">
            <span class="cbp-ig-icon cbp-ig-icon-ribbon"></span>
            <h3 class="cbp-ig-title">Frentes fríos</h3>
            <span class="cbp-ig-category"></span>
        </a>
    </li>
    <li>
        <a href="#">
            <span class="cbp-ig-icon cbp-ig-icon-ribbon"></span>
            <h3 class="cbp-ig-title">Tornados</h3>
            <span class="cbp-ig-category"></span>
        </a>
    </li>
</ul>
