@{
    ViewBag.Title = "Inicio";
}
<section class="bg-white d-flex justify-content-center" id="banner">
    <div class="align-self-center">
        <h1>Educación en Medidas para Desastres</h1><br />
        @Html.ActionLink("COMENZAR", "Index", "Home", new { area = "" }, new { @class = "btn btn-outline-light btn-block" })
    </div>
</section>
<section class="bg-white" id="learn">
    <div class="container">
        <div class="pt-2 pb-2">
            <h1>Aprende <small>sobre los diferentes desastres que afectan el país</small></h1>
            <hr />
        </div>

        <div class="d-flex justify-content-around align-items-center text-white">


            <div class="w-25 p-3 border-0">
                <img class="card-img" src="~/Content/Img/img1.jpg" alt="Card image">
                <div class="card">
                    <div class="card-body">
                        <a href="#" class="card-link">Geológicos</a>
                    </div>
                </div>
            </div>
            <div class="w-25 p-3">
                <img class="card-img" src="~/Content/Img/img2.jpg" alt="Card image">
                <div class="card-img">
                    <div class="card-body">
                        <a href="#" class="card-link">Hidrológicos</a>
                    </div>
                </div>
            </div>
            <div class="w-25 p-3">
                <img class="card-img" src="~/Content/Img/img3.jpg" alt="Card image">
                <div class="card-img">
                    <div class="card-body">
                        <a href="#" class="card-link">Biológicos</a>
                    </div>
                </div>
            </div>
            <div class="w-25 p-3">
                <img class="card-img" src="~/Content/Img/img4.jpg" alt="Card image">
                <div class="card-img">
                    <div class="card-body">
                        <a href="#" class="card-link">Metereológicos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>





</section>
<section class="row bg-danger" id="forum">
    <div class="col-sm-3 float-right pl-5">
        <h1>Pon a prueba</h1>
        <p>Tus conocimientos sobre lo aprendido</p>
        <a href="#" class="btn btn-outline-secondary">Ir a los test</a>
    </div>

</section>

<section class="bg-light" id="test"></section>
